<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="container">


  <div class="row field">
   <%= f.label :username %>
   <%= f.text_field :username%>
 </div>

  <div class="row field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="row field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="row field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="row field">
    <%= f.label :gender %><br />
<div class="row">
  <%= radio_button_tag(:gender, "Male") %>
  <%= label_tag(:gender, "Male") %>
</div>
    <div class="row">

      <%= radio_button_tag(:gender, "Female") %>
      <%= label_tag(:gender, "Female") %>
    </div>

  </div>

  <div class="row field">
    <%= f.label :favorite_genre %><br />
    <div class="row col-sm-3">
      <%= f.radio_button(:favorite_genre, "Pop") %>
      <%= f.label(:favorite_genre, "Pop") %>
      <%= f.radio_button(:favorite_genre, "House") %>
      <%= f.label(:favorite_genre, "House") %>
      <%= f.radio_button(:favorite_genre, "HipHop") %>
      <%= f.label(:favorite_genre, "HipHop") %>
    </div>
    <div class="row col-sm-3">
      <%= f.radio_button(:favorite_genre, "EDM") %>
      <%= f.label(:favorite_genre, "EDM") %>
      <%= f.radio_button(:favorite_genre, "Latin") %>
      <%= f.label(:favorite_genre, "Latin") %>
      <%= f.radio_button(:favorite_genre, "Rock") %>
      <%= f.label(:favorite_genre, "Rock") %>
    </div>

  </div>

  <div class="row field">
   <%= f.label :location %>
   <%= f.text_field :location%>
 </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
