<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
   <%= f.label :username %>
   <%= f.text_field :username%>
 </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= radio_button_tag(:gender, "Male") %>
    <%= label_tag(:gender, "Male") %>
    <%= radio_button_tag(:gender, "Female") %>
    <%= label_tag(:gender, "Female") %>
  </div>

  <div class="field">
    <%= f.label :favorite_genre %><br />
    <div class="col-sm-6">
      <%= radio_button_tag(:favorite_genre, "Pop") %>
      <%= label_tag(:favorite_genre, "Pop") %>
      <%= radio_button_tag(:favorite_genre, "House") %>
      <%= label_tag(:favorite_genre, "House") %>
      <%= radio_button_tag(:favorite_genre, "HipHop") %>
      <%= label_tag(:favorite_genre, "HipHop") %>
    </div>
    <div class="col-sm-6">
      <%= radio_button_tag(:favorite_genre, "EDM") %>
      <%= label_tag(:favorite_genre, "EDM") %>
      <%= radio_button_tag(:favorite_genre, "Latin") %>
      <%= label_tag(:favorite_genre, "Latin") %>
      <%= radio_button_tag(:favorite_genre, "Rock") %>
      <%= label_tag(:favorite_genre, "Rock") %>
    </div>
      

  </div>

  <div class="field">
   <%= f.label :location %>
   <%= f.text_field :location%>
 </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
